/* generel styling til hele websitet */
:root {
  --red: #ee0505;
  --beige: #f4f0e2;
  --black: #000000;
}

body {
  margin: 8px;
}

h1,
h2,
h3 {
  font-family: "Lacquer", cursive;
  letter-spacing: 1px;
}

h1 {
  font-size: 2.2rem;
  color: var(--red);
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: var(--red);
}

p {
  max-width: 65ch;
  margin-bottom: 1rem;
  align-items: center;
}

/* menuen */
header {
  border-bottom: 1px solid var(--black);
}
header {
  width: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1100px;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  color: var(--black);
  font-family: "Aboreto", cursive;
}
.logo {
  width: 150px;
}
/* footer */
footer {
  border-top: 1px solid var(--black);
  text-align: center;
}
@media screen and (min-width: 800px) {
  footer p {
    max-width: none;
  }
}
