/* styling landing page*/

.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-tekst {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-tekst h1 {
  color: var(--red);
  font-size: 2.5rem;
  text-align: center;
}
.undertitel {
  color: var(--red);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.intro {
  text-align: center;
  padding: 2rem 1rem;
}

.button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  font-family: "Aboreto", cursive;
  border: 1px solid var(--black);
  color: var(--black);
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.button {
  animation: pulse 2s ease-in-out infinite;
}

.billede_grid_forside {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1.5rem 0;
}

.billede_grid_forside img {
  width: 45%;
  object-fit: cover;
}

@media screen and (min-width: 800px) {
  .hero-tekst h1 {
    font-size: 4rem;
  }

  .billede_grid_forside img {
    width: 30%;
  }
  .sofiatekst {
    max-width: 90%;
    margin: 0 auto;
  }
}
/* om mig */
.tekst_om_mig {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.om_mig_billede {
  max-width: 100%;
  height: 45vh;
  object-fit: cover;
  display: block;
  margin: 20px auto 0;
}

.grid_billeder_om_mig {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.grid_billeder_om_mig img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  border-radius: 1px;
}
@media screen and (min-width: 800px) {
  .grid_billeder_om_mig {
    grid-template-columns: 1fr 1fr;
  }
  .tekst_om_mig {
    text-align: center;
  }
  .om_mig_billede {
    width: 700px;
    height: auto;
  }
}

/* opgaver */
.knapopgaver {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.indholdopgaver {
  display: none;
}
.overskriftopgaver {
  display: inline;
  margin: 0;
}

/* ===== MOBIL ===== */
.tema2gridbilleder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "gallerimobil wireframegrid"
    "gallerimobil gallerside"
    "gallerimobil layoutdiagram";
  gap: 0.75rem;

  max-width: 100%;
  padding: 0 1rem;
}

.tema2gridbilleder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallerimobil {
  grid-area: gallerimobil;
  max-height: 60vh;
}

.wireframegrid {
  grid-area: wireframegrid;
  max-height: 20vh;
}

.gallerside {
  grid-area: gallerside;
  max-height: 20vh;
}

.layoutdiagram {
  grid-area: layoutdiagram;
  max-height: 20vh;
}

@media (min-width: 700px) {
  .tema2gridbilleder {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
  }

  .gallerimobil {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    max-height: none;
  }

  .wireframegrid {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    max-height: none;
  }

  .gallerside {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    max-height: none;
  }

  .layoutdiagram {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    max-height: none;
  }
}
