/* style landing page*/

.hero {
  position: relative;
}

.hero {
  height: 60vh;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  max-width: 100%;
}

.hero-tekst {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-tekst h1 {
  color: var(--red);
  font-size: 2.5rem;
  text-align: center;
}

.undertitel {
  color: var(--red);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.intro {
  text-align: center;
  padding-bottom: 2rem;
}

.button {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  font-family: "Aboreto", cursive;
  border: 1px solid var(--black);
  color: var(--black);
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.button {
  animation: pulse 2s ease-in-out infinite;
}

.billede_grid_forside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.billede_grid_forside img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 800px) {
  .intro {
    max-width: 1000px;
    margin: 0 auto;
  }

  .billede_grid_forside {
    flex-direction: row;
    justify-content: space-between;
  }

  .billede_grid_forside img {
    width: calc(50% - 0.5rem);
  }
}

/* om mig side */
.om-mig-section,
.om-mig-hero {
  max-width: 1100px;
  margin: 4rem auto;
  padding: 0 1rem;
}

/* HERO */
.om-mig-hero {
  display: grid;
  gap: 2rem;
}

.om-mig-intro {
  text-align: center;
}

/* BILLEDE */
.om_mig_billede {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

/* TEKST SECTIONS */
.om-mig-section h2 {
  margin-bottom: 1rem;
}

.om-mig-section p {
  margin-bottom: 2rem;
}

/* GRID TIL BILLEDER */
.grid_billeder_om_mig {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.grid_billeder_om_mig img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media (min-width: 800px) {
  /* HERO */
  .om-mig-hero {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .om-mig-intro {
    text-align: left;
  }

  /* TEKST SECTIONS */
  .om-mig-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .om-mig-section h2,
  .om-mig-section p {
    max-width: 70%;
  }

  /* GRID */
  .grid_billeder_om_mig {
    grid-template-columns: 1fr 1fr;
    margin: 3rem 0;
  }
}

/* opgaver */
.knapopgaver {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.indholdopgaver {
  display: none;
}
.overskriftopgaver {
  display: inline;
  margin: 0;
}
.temaerne {
  padding: 2rem;
}
.tema2,
.tema3,
.tema4,
.tema5 {
  border-top: 1px solid black;
  padding: 1.5rem 0;
}

.tema2gridbilleder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "gallerimobil wireframegrid"
    "gallerimobil gallerside"
    "gallerimobil layoutdiagram";
  gap: 0.75rem;

  max-width: 100%;
  padding: 0 1rem;
}

.tema2gridbilleder img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.gallerimobil {
  grid-area: gallerimobil;
  width: 100%;
  height: auto;
}

.wireframegrid {
  grid-area: wireframegrid;
  width: 100%;
  height: auto;
}

.gallerside {
  grid-area: gallerside;
  width: 100%;
  height: auto;
}

.layoutdiagram {
  grid-area: layoutdiagram;
  width: 100%;
  height: auto;
}

.tema3gridbilleder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "moodboard researchemne"
    "moodboard userstories"
    "moodboard hifiprototype";
  gap: 0.75rem;

  max-width: 100%;
  padding: 0 1rem;
}

.tema3gridbilleder img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.moodboardemnesite {
  grid-area: moodboard;
  width: 100%;
  height: auto;
}

.researchemnesite {
  grid-area: researchemne;
  width: 100%;
  height: auto;
}

.userstoriesemnesite {
  grid-area: userstories;
  width: 100%;
  height: auto;
}

.hifiprototypeemnesite {
  grid-area: hifiprototype;
  width: 100%;
  height: auto;
}

.tema4gridbilleder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "formular logoideer"
    "formular dokumentation"
    "formular dokumentation2";
  gap: 0.75rem;

  max-width: 100%;
  padding: 0 1rem;
}

.tema4gridbilleder img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.formular {
  grid-area: formular;
  width: 100%;
  height: auto;
}

.logoideer {
  grid-area: logoideer;
  width: 100%;
  height: auto;
}

.dokumentation {
  grid-area: dokumentation;
  width: 100%;
  height: auto;
}

.dokumentation2 {
  grid-area: dokumentation2;
  width: 100%;
  height: auto;
}

.tema5gridbilleder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "minside burger"
    "minside moodboard"
    "minside research";
  gap: 0.75rem;
  padding: 0 1rem;
}

.tema5gridbilleder img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.minsidemewe {
  grid-area: minside;
  object-fit: contain;
}

.burgermenumewe {
  grid-area: burger;
}

.moordboardmewe {
  grid-area: moodboard;
}

.researchmewe {
  grid-area: research;
}

@media (min-width: 800px) {
  .temaerne {
    max-width: 1100px;
    margin: 0 auto;
  }

  .indholdopgaver {
    padding-left: 2rem;
  }

  .tema2gridbilleder {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
  }

  .gallerimobil {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    max-height: none;
  }

  .wireframegrid {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    max-height: none;
  }

  .gallerside {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    max-height: none;
  }

  .layoutdiagram {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    max-height: none;
  }
}
